@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color {
  background: #FCF8F8
}

.primary-color {
  color: #FF9226
}

.secondary-color {
  color: #363636
}

.bg-primary-color {
  background: #FF9226
}
.bg-secondary-color{
  background-color: #363636
}

.hover-secondary-color:hover {
  background-color: #363636
}

.hover-secondary-color-text:hover {
  color: #363636
}

.hover-primary-color:hover {
  background-color: #FF9226
}

.hover-primary-color-text:hover {
  color: #FF9226
}