@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color {
  background: white
}

.primary-color {
  color: #fb850f
}

.secondary-color {
  color: #363636
}

.bg-primary-color {
  background: #fb850f
}
.bg-secondary-color{
  background-color: #363636
}

.hover-secondary-color:hover {
  background-color: #363636
}

.hover-secondary-color-text:hover {
  color: #363636
}

.hover-primary-color:hover {
  background-color: #fb850f
}

.hover-primary-color-text:hover {
  color: #fb850f
}